*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
img{
    width: 100%;
}
a{
    all: unset;
}

.logo{
    background-image: url(../imgs/image-removebg-preview\ \(10\)\ 1.png);
    width: 108px;
    height: 53px;
}
header{
    display: flex;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 27px 135px 0;
    background-color: white;
}
ul{
    width: 620px;
    display: flex;
    justify-content: space-between;
}
li{
    all: unset;
    text-transform: uppercase;
}



.cta-container{
    display: flex;
    align-items: center;
    gap: 33px;
}
.cta-link{
    color: white;
    background-color:rgba(237, 1, 127, 1) ;
    padding: 8px 20px;
    border-radius: 4px;
}
i{
    color: rgba(237, 1, 127, 1);
}

.hero-section{
    height: 696px;
}
.secound-cta-link{
    border: solid;
    padding: 8px 20px;
    border-radius: 4px;
    color: rgba(237, 1, 127, 1);
    border-color: rgba(237, 1, 127, 1);
}
.hero-section-left-side{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.social-media{
    margin: auto 0 0;
}