*{
    box-sizing: border-box;
    font-family: 'Metropolis';
}
@font-face {
  font-family: 'Metropolis';
  src: url('../Fonts/OpenType/Metropolis-Regular.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../Fonts/OpenType/Metropolis-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../Fonts/OpenType/Metropolis-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
body{
    margin: 0;
}
h1{
    font-weight: 900;
    font-size: 63px;
    width: 453px;
    margin: 0;
}
img{
    width: 100%;
}
a{
    all: unset;
}

.logo{
    background-image: url(../imgs/image-removebg-preview\ \(10\)\ 1.png);
    width: 108px;
    height: 53px;
}
header{
    z-index: 20;
    width: 100%;
    position: fixed;
    display: flex;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 27px 135px 0;
    /* background-color: white; */
}
.container-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 27px 135px 0;
}
ul{
    width: 620px;
    display: flex;
    justify-content: space-between;
}
li{
    all: unset;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}



.cta-container{
    display: flex;
    align-items: center;
    gap: 33px;
}
.cta-link{
    color: white;
    font-weight: 500;
    font-size: 12px;
    background-color:rgba(237, 1, 127, 1) ;
    padding: 8px 20px;
    border-radius: 4px;
    border: solid;
    border-color: rgba(237, 1, 127, 1);

}
i{
    color: rgba(237, 1, 127, 1);
}

.hero-section{
    width: 100%;
    height: 696px;
    
    
}
.secound-cta-link{
    border: solid;
    font-weight: 500;
    font-size: 12px;
    padding: 8px 20px;
    border-radius: 4px;
    color: rgba(237, 1, 127, 1);
    border-color: rgba(237, 1, 127, 1);
}
.hero-section-left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    height: 100%;
    padding-top: 200px;
}
.hero-section-sub-text{
    width: 380px;
    font-weight: 400;
    font-size: 16px;
    color:rgba(103, 103, 103, 1) ;
}
.social-media{
    margin: auto 0 0;
    display: flex;
    gap:18px ;
}
.phone-box{
    display: flex;
    gap: 11px;
    align-items: center;
    font-weight: 600;
    font-size: 17px;
}
.hero-section-absulote{
    position: absolute;
    height: 730px;
    width: 710px;
    right: 0;
    top: 0;

    background-color: rgba(255, 234, 245, 1);
}
.hero-section-absulote .hero-img{
    position: absolute;
    pointer-events: none;
    z-index: 5;
    bottom: -58px;
    right: 0;
    width: 905px;
    height: 654px;
    
}
.car-loan{
     top: 144px;
    left: -71px;
}
.home-loan{
    top:256px;
    left: 447px;

}
.hero-section-absulote a{
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 19px;

    width: fit-content;

    background-color: white;

    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;

    border-radius: 55px;
    padding: 17px 27px;
    box-shadow: -4px 4px 58px rgba(0, 0, 0, 0.12) ;
    transition: all 0.3s ease-in-out;
}
.fast-link:hover{
    background-color: rgb(235, 177, 206);
    color: white;
}
.fast-link-img{
    width: 25px;
}
.hero-section-btn-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: absolute;
    top: 457px;
    left: 652px;
}


.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:100px 0 ;
}
h3{
    font-weight: 700;
    font-size: 36px;
    margin: 0;
}
.banner-sub-text{
    font-weight: 400;
    font-size: 16px;
    width: 660px;
    color: rgba(153, 153, 153, 1);
    text-align: center;
    line-height: 22px;
}



.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    width: 259px;
    margin-bottom: 50px;
}
.card-sub-text{
    width: 160px;
    color: rgba(153, 153, 153, 1);
    margin: 0;
    line-height: 24px;
    margin-top: 10px;
}
.card-title{
    margin: 0;
}
.card-icone{
    width:37px;
    margin-bottom: 18px;
}

.business-partners-section{
    background-color: rgba(252, 224, 239, 0.2);
    padding: 78px 0;
}

.business-partners-section-title{
   font-weight: 400;
   font-size: 23px; 
   text-transform: capitalize;
   letter-spacing: 2px;
}
.business-partners-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 86px;
}
.business-partners-section-logos-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.business-partners-section-logos-box img{
    width: 170px;
}
.business-partners-btn-box{
    display: flex;
    gap: 18px;
}
.unactive-btn{
    all:unset;
    width: 13px;
    height: 13px;
    background-color: rgba(204, 204, 204, 1);
    border-radius: 9.5px;
}
.active-btn{
    all:unset;
    width: 13px;
    height: 13px;
    border-radius: 9.5px;
    background-color: rgba(244, 103, 178, 1);
    border:solid;
    border-color:rgba(244, 103, 178, 1) ;
    border-width: 2px;
}
.btn2:hover{
    border-color:rgba(244, 103, 178, 0.2) ;
    background-color: rgba(244, 103, 178, 0.2);
}
.btn3:hover{
    background-color: rgba(244, 103, 178, 0.2);
}
.btn4:hover{
    background-color: rgba(244, 103, 178, 0.2);
}

.blog-section{
    display: flex;
}
.blog-left-section img{
    width:618px;
}
.blog-right-section{
    padding:140px 225px  59px 110px;
}
.blog-sub-text{
    width: 460px;
    font-weight: 400;
    line-height: 29px;
    font-size: 16px;
    color: rgba(103, 103, 103, 1);
}
.blog-link{
    color:rgba(237, 1, 127, 1);
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
     display: flex;
    gap: 9px;
    transition: all 0.4s ease-in-out;
}

.blog-link:hover{
    gap: 30px;
}
.our-services-section{
    background-color: rgba(254, 249, 252, 1);
    padding: 116px;
}
.our-services-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.our-services-card-box{
    display: flex;
    justify-content: space-between;

}