*{
    box-sizing: border-box;
    font-family: 'Metropolis';
}
@font-face {
  font-family: 'Metropolis';
  src: url('../Fonts/OpenType/Metropolis-Regular.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../Fonts/OpenType/Metropolis-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../Fonts/OpenType/Metropolis-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
body{
    margin: 0;
}
h1{
    font-weight: 900;
    font-size: 63px;
    width: 453px;
    margin: 0;
}
img{
    width: 100%;
}
a{
    all: unset;
}

.logo{
    background-image: url(../imgs/image-removebg-preview\ \(10\)\ 1.png);
    width: 108px;
    height: 53px;
}
header{
    width: 100%;
    position: fixed;
    display: flex;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 27px 135px 0;
    /* background-color: white; */
}
ul{
    width: 620px;
    display: flex;
    justify-content: space-between;
}
li{
    all: unset;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}



.cta-container{
    display: flex;
    align-items: center;
    gap: 33px;
}
.cta-link{
    color: white;
    font-weight: 500;
    font-size: 12px;
    background-color:rgba(237, 1, 127, 1) ;
    padding: 8px 20px;
    border-radius: 4px;
    border: solid;
    border-color: rgba(237, 1, 127, 1);

}
i{
    color: rgba(237, 1, 127, 1);
}

.hero-section{
    width: 100%;
    height: 696px;
    
    
}
.secound-cta-link{
    border: solid;
    font-weight: 500;
    font-size: 12px;
    padding: 8px 20px;
    border-radius: 4px;
    color: rgba(237, 1, 127, 1);
    border-color: rgba(237, 1, 127, 1);
}
.hero-section-left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    height: 100%;
    padding-top: 200px;
}
.hero-section-sub-text{
    width: 380px;
    font-weight: 400;
    font-size: 16px;
    color:rgba(103, 103, 103, 1) ;
}
.social-media{
    margin: auto 0 0;
    display: flex;
    gap:18px ;
}
.phone-box{
    display: flex;
    gap: 11px;
    align-items: center;
    font-weight: 600;
    font-size: 17px;
}
.hero-section-absulote{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -10;
}


.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:100px 0 ;
}
h3{
    font-weight: 700;
    font-size: 36px;
    margin: 0;
}
.banner-sub-text{
    font-weight: 400;
    font-size: 16px;
    width: 660px;
    color: rgba(153, 153, 153, 1);
    text-align: center;
    line-height: 22px;
}



.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    width: 259px;
    margin-bottom: 50px;
}
.card-sub-text{
    width: 160px;
    color: rgba(153, 153, 153, 1);
    margin: 0;
    line-height: 24px;
    margin-top: 10px;
}
.card-title{
    margin: 0;
}
.card-icone{
    width:37px;
    margin-bottom: 18px;
}

.business-partners-section{
    background-color: rgba(252, 224, 239, 0.2);
    padding-top: 78px;
}

.business-partners-section-title{
   font-weight: 400;
   font-size: 23px; 
}
.business-partners-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
