* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

.container {

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    background-image: url(../imgs/intro.jpg);
    height: 390px;
}

.banner>* {
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 30px
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: rgb(46, 115, 184);
    font-size: 22px;
}

nav .logo {
    width: 150px;
    height: 40pxl
}

.banner-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    /* background: red; */
    height: 100%;
    justify-content: center;
}