*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    /* background-color: blue; */
    margin: 0;
}
img{
    max-width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.container{
    margin: 0 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    all: unset;
    font-size: 33px;
    text-transform: uppercase;
    color: white;  
    border-bottom: solid;
    border-color: transparent;
    border-width: 11px;
    transition: border 0.3S ease-in-out;
}



.logo{
    padding-top: 20px;
}
.logo-background{
    /* Rectangle 1 */
    width: 192px;
    height: 192px;
    background-color: rgba(164, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.logo-text{
    font-size: 33px;
    color: white;
    font-weight: 400;
    margin: 0;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
li{
    list-style: none;
}



.hero-section{
    background-image: url(../imgs/background-burgers-home-top\ 1.png);
    height: 742px;
    padding-top: 271px;
    background-repeat: no-repeat;
    background-size:cover ;
}
h1{
    font-size: 140px; 
    color: rgba(164, 0, 0, 1);
    margin: 0;
    font-weight: 400;
}
.white-text{
    color: white;
}
.sub-text{
    color: white;
    font-size: 35px;
    max-width: 990px;
    font-weight: 400;
    margin-top: 14px;
}
.main-cta-btn{
    background-color: rgba(164, 0, 0, 1);
    color: white;
    padding: 20px;
    border:none;
    font-size: 35px;
    font-weight: 400;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap:14px ;
    overflow: hidden;
    position: relative;
    width: fit-content;
}
i{
    position: relative;
    font-size: 26px;
    right: 0;
    transition: all 0.3s ease-in-out;
   


}
.main-cta-btn:hover{
    i{
        right: -60px;
    }
}
.home-link:hover{

    border-color: rgba(164, 0, 0, 1);
}
.gallery-link:hover{

    border-color: rgba(164, 0, 0, 1);
}
.faq-link:hover{
  
    border-color: rgba(164, 0, 0, 1);
}
.contact-link:hover{
   
    border-color: rgba(164, 0, 0, 1);
}